.neirong {
	height: 472px;
	width: 1226px;
	margin: auto;
	overflow: hidden;
}

.neirong_box {
	width: 1226px;
	height: 420px;
}

.neirong_box li {
	width: 296px;
	height: 420px;
	margin-right: 14px;
	float: left;
	overflow: hidden;
	position: relative;
	background: #FFFFFF;
}

.neirong_box>li {
	border-top: 1px solid lightgreen;
}

.neirong_box li:nth-of-type(4) {
	margin-right: 0px;
}

.boxnro {
	width: 9999px;
	position: relative;
}

.bt {
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 58px;
	z-index: 9;
}

.boxnro li p:nth-of-type(1) {
	width: 256px;
	padding-top: 100px;
	margin: auto;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.boxnro li p:nth-of-type(2) {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
}

.nr_img {
	width: 216px;
	height: 154px;
	margin: 10px auto;
}

.nr_img2 {
	position: absolute;
	left: 30px;
}

.neirong_box li span {
	position: absolute;
	width: 20px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	background: rgba(0, 0, 0, 0.3);
	color: #F5F5F5;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	z-index: 1;
}

.lefto {
	left: 10px;
	display: none;
}

.righto {
	right: 10px;
	display: none;
}

.neirong_boxo:hover .lefto {
	display: block;
}

.neirong_boxo:hover .righto {
	display: block;
}

.boxnro li {
	float: left;
	margin-right: 0px;
}

.listnro {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -28px;
}

.listnro li {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #B0B0B0;
	margin-right: 4px;
	float: left;
	cursor: pointer;
}

.end_li div {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
	font-size: 10px;
}

.end_li div:nth-of-type(1) {
	padding-top: 100px;
	margin: auto;
}

.end_li div:nth-of-type(2) {
	width: 120px;
	height: 30px;
	border: 1px solid orange;
	margin: auto;
	margin-top: 50px;
}

.end_li div a {
	line-height: 30px;
	color: orange;
}

.listnro>.currents {
	background: orange;
}
/*第二个*/
.boxnrtwo {
	width: 9999px;
	position: relative;
}
.bttwo {
	position: absolute;
	left: 50%;
	margin-left: -31px;
	top: 58px;
	z-index: 999;
}

.boxnrtwo li p:nth-of-type(1) {
	width: 256px;
	padding-top: 100px;
	margin: auto;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.boxnrtwo li p:nth-of-type(2) {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
}

.nr_imgtwo {
	width: 216px;
	height: 154px;
	margin: 10px auto;
}

.nr_img2two {
	position: absolute;
	left: 30px;
}

.neirong_boxtwo li span {
	position: absolute;
	width: 20px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	background: rgba(0, 0, 0, 0.3);
	color: #F5F5F5;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	z-index: 1;
}

.lefttwo {
	left: 10px;
	display: none;
}

.righttwo {
	right: 10px;
	display: none;
}

.neirong_boxtwo:hover .lefttwo {
	display: block;
}

.neirong_boxtwo:hover .righttwo {
	display: block;
}

.boxnrtwo li {
	float: left;
	margin-right: 0px;
}

.listnrtwo {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -28px;
}

.listnrtwo li {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #B0B0B0;
	margin-right: 4px;
	float: left;
	cursor: pointer;
}

.end_litwo div {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
	font-size: 10px;
}

.end_litwo div:nth-of-type(1) {
	padding-top: 100px;
	margin: auto;
}

.end_litwo div:nth-of-type(2) {
	width: 120px;
	height: 30px;
	border: 1px solid orange;
	margin: auto;
	margin-top: 50px;
}

.end_litwo div a {
	line-height: 30px;
	color: orange;
}

.listnrtwo>.currents {
	background: orange;
}
/*第三个*/
.boxnrtree {
	width: 9999px;
	position: relative;
}
.bttree {
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 58px;
	z-index: 999;
}

.boxnrtree li p:nth-of-type(1) {
	width: 256px;
	padding-top: 100px;
	margin: auto;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.boxnrtree li p:nth-of-type(2) {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
}

.nr_imgtree {
	width: 216px;
	height: 154px;
	margin: 10px auto;
}

.nr_img2tree {
	position: absolute;
	left: 30px;
}

.neirong_boxtree li span {
	position: absolute;
	width: 20px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	background: rgba(0, 0, 0, 0.3);
	color: #F5F5F5;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	z-index: 1;
}

.lefttree {
	left: 10px;
	display: none;
}

.righttree {
	right: 10px;
	display: none;
}

.neirong_boxtree:hover .lefttree {
	display: block;
}

.neirong_boxtree:hover .righttree {
	display: block;
}

.boxnrtree li {
	float: left;
	margin-right: 0px;
}

.listnrtree {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -28px;
}

.listnrtree li {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #B0B0B0;
	margin-right: 4px;
	float: left;
	cursor: pointer;
}

.end_litree div {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
	font-size: 10px;
}

.end_litree div:nth-of-type(1) {
	padding-top: 100px;
	margin: auto;
}

.end_litree div:nth-of-type(2) {
	width: 120px;
	height: 30px;
	border: 1px solid orange;
	margin: auto;
	margin-top: 50px;
}

.end_litree div a {
	line-height: 30px;
	color: orange;
}

.listnrtree>.currents {
	background: orange;
}
/*第四个*/
.boxnrfour {
	width: 9999px;
	position: relative;
}
.btfour {
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top:58px;
	z-index: 999;
}

.boxnrfour li p:nth-of-type(1) {
	width: 256px;
	padding-top: 100px;
	margin: auto;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.boxnrfour li p:nth-of-type(2) {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
}

.nr_imgfour {
	width: 216px;
	height: 154px;
	margin: 10px auto;
}

.nr_img2four {
	position: absolute;
	left: 30px;
}

.neirong_boxfour li span {
	position: absolute;
	width: 20px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	background: rgba(0, 0, 0, 0.3);
	color: #F5F5F5;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	z-index: 1;
}

.leftfour {
	left: 10px;
	display: none;
}

.rightfour {
	right: 10px;
	display: none;
}

.neirong_boxfour:hover .leftfour {
	display: block;
}

.neirong_boxfour:hover .rightfour {
	display: block;
}

.boxnrfour li {
	float: left;
	margin-right: 0px;
}

.listnrfour {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -28px;
}

.listnrfour li {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #B0B0B0;
	margin-right: 4px;
	float: left;
	cursor: pointer;
}

.end_lifour div {
	width: 200px;
	height: 40px;
	margin: auto;
	text-align: center;
	font-size: 10px;
}

.end_lifour div:nth-of-type(1) {
	padding-top: 100px;
	margin: auto;
}

.end_lifour div:nth-of-type(2) {
	width: 120px;
	height: 30px;
	border: 1px solid orange;
	margin: auto;
	margin-top: 50px;
}

.end_lifour div a {
	line-height: 30px;
	color: orange;
}

.listnrfour>.currents {
	background: orange;
}